h1 {
    color: blue;
    font-size: 40px;
    background-color: #e2e3e9;   
}

p {
    color: red
    font-size: 30px;
}

p {
    color:green
    font-size: 30px;
}


# imagem {
    height: 48%;
}